body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: #fff8e1;
    border: 2px solid #eebb99;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.item {
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
}

body:has(input[value="blue"]:checked) .container {
    flex-wrap: wrap;
    justify-content: space-between;
}

body:has(input[value="blue"]:checked) .item {
    background-color: blue;
    width: calc(33.33% - 10px);
    @media (max-width: 984px) {
        width: 50%;
    }
}

body:has(input[value="blue"]:checked) .container {
    @media (max-width: 984px) {
        justify-content: center;
    }
}

body:has(input[value="red"]:checked) .container {
    flex-wrap: wrap;
    justify-content: center;
}

body:has(input[value="red"]:checked) .item {
    background-color: red;
    flex: 1 1 100px;
}

body:has(input[value="red"]:checked) .item:nth-child(1) {
    background-color: red;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 0;
    flex: 3 1 150px;
}

body:has(input[value="red"]:checked) .item:nth-child(1)::after {
    content: "Jestem większy i na środku!";
    font-weight: normal;
    font-size: 80%;
    margin-top: 5px;
}

body:has(input[value="red"]:checked) .item:nth-child(2),
body:has(input[value="red"]:checked) .item:nth-child(3) {
    order: -1;
}

body:has(input[value="red"]:checked) .item:nth-child(4),
body:has(input[value="red"]:checked) .item:nth-child(5) {
    order: 1;
}

@media (max-width: 984px) {
    body:has(input[value="red"]:checked) .item {
        flex-basis: 40%;
    }

    body:has(input[value="red"]:checked) .item:nth-child(1) {
        flex-basis: 100%;
    }
}

body:has(input[value="green"]:checked) .item {
    background-color: green;
}

body:has(input[value="green"]:checked) .container {
    flex-direction: row;

    @media (max-width: 984px) {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

body:has(input[value="green"]:checked) .item {
    flex: 1;

    &:nth-child(1) {
        position: relative;
        &::before, &::after {
            content: "😀";
            font-size: 2em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            line-height: 1;
        }
        &::before { left: 10px; }
        &::after { right: 10px; }
    }

    @media (max-width: 984px) {
        flex: 0 0 auto;

        &:nth-child(1) { width: 100%; }
        &:nth-child(2) { width: 80%; }
        &:nth-child(3) { width: 60%; }
        &:nth-child(4) { width: 40%; }
        &:nth-child(5) { width: 20%; }
    }
}